# Descrição dos arquivos que serão ignorados nos commits
#

# arquivos de log
*.log

# configuração da ide da jetbrains
*/**/.idea

# arquivos compilados em c
*.o

# arquivos do eclipse
*/**/.metadata

# pasta usada para as compilações das atividades
*/**/class
*/**/class/**/*.class
